@{
    ViewBag.Title = "João Monteiro";
}

<div class="jumbotron">
    <h1>jpmonteiro</h1>
    <p class="lead">Portuguese software developer coding his way through fields with various shades of green and brown.</p>
</div>

<div class="row">
    <table>
        <tbody>
            <tr>
                <td><a class="fa fa-stack-overflow" href="http://careers.stackoverflow.com/jpmnteiro" target="_blank"></a></td>
                <td><a class="fa fa-facebook-official" href="https://www.facebook.com/jpmnteiro" target="_blank"></a></td>
                <td><a class="fa fa-github" href="https://github.com/jpmnteiro" target="_blank"></a></td>
                <td><a class="fa fa-linkedin" href="https://www.linkedin.com/in/joaopmonteiro" target="_blank"></a></td>
                <td><a class="fa fa-stack-exchange" href="http://stackexchange.com/users/1290450/omni" target="_blank"></a></td>
                <td><a class="fa fa-twitter" href="https://twitter.com/jpmnteiro" target="_blank"></a></td>
            </tr>
        </tbody>
    </table>
</div>